.main-slider {
    min-height: 100vh;
    overflow: hidden;
    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, rgba(26, 27, 38, 0) -12.71%, rgba(3, 20, 16, 0.34) -12.7%, #1a1b26 100%);
        z-index: 2;

        h1 {
            font-weight: bold;
            font-size: 36px;
            line-height: 47px;
            letter-spacing: -1.6px;
        }

        h6 {
            font-size: 24px;
            line-height: 31px;
            letter-spacing: -0.8px;
        }
    }
    video {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        pointer-events: none;
    }

    .slick-dots {
        position: absolute;
        bottom: 10%;
        right: 10%;
        z-index: 3;
        display: flex !important;
        border-radius: 8px;
        transition: 0.6s all;

        button {
            background: rgba(255, 255, 255, 0.4);
            width: 40px;
            height: 4px;
            text-indent: -9999px;
            transition: 0.6s all;
            margin-right: 4px;
            margin-left: 4px;
            border-radius: 8px;
        }

        .slick-active button {
            background: $W;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            transform: scale(1);
            transition: 0.6s all;
        }
    }

    .buttons {
        z-index: 2;
        svg {
            position: absolute;
            top: 50%;
            transform: translatey(50%);
            cursor: pointer;
            transform: rotate(360deg);
        }
        .next {
            transform: rotate(180deg);
            right: 0;
            transition: 0.3s all;
            circle {
                transition: 0.3s all;
            }
            path {
                transition: 0.3s all;
            }
            &:hover {
                circle {
                    stroke-opacity: 1;
                }
                path {
                    fill-opacity: 1;
                    transform: translateX(-5px);
                }
            }
        }

        .prev {
            transition: 0.3s all;
            left: 0;
            circle {
                transition: 0.3s all;
            }
            path {
                transition: 0.3s all;
            }
            &:hover {
                circle {
                    stroke-opacity: 1;
                }
                path {
                    fill-opacity: 1;
                    transform: translateX(-5px);
                }
            }
        }
    }
}
.slick-track {
    display: flex;
}

.steps {
    background: #28293a;
    margin-top: -6px;
    h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -1.6px;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 150px;
        padding: 11px 26px;
    }

    h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;

        color: #ffffff;
    }

    h6 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;

        color: #ffffff;
    }
}

.section-titles {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.6px;
    color: #ffffff;
    svg {
        margin-top: -6px;
    }
}

.map {
    .form {
        .relative {
            h6 {
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.36px;
                color: #ffffff;
            }

            svg {
                position: absolute;
                top: 45px;
                z-index: 2;
                left: 12px;
                top: 38px;
            }

            .el-input__inner {
                background: #30313b;
                border: 1px solid rgba(255, 255, 255, 0.1);
                box-sizing: border-box;
                border-radius: 8px;
                padding: 12px 12px 12px 40px;
                color: $W;
            }
        }
    }

    .el-icon-date {
        display: none;
    }
}

.relative {
    position: relative;
}

.reviews {
    background: #28293a;
    .slick-track {
        display: flex;
    }

    .review-cards {
        background: #363749;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        backdrop-filter: blur(30px);
        border-radius: 10px;
        padding: 12px 16px 16px 16px;

        .rev-head {
            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 8px;
            }

            h6 {
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: -0.36px;
                color: #ffffff;
            }

            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: -0.36px;
                color: #7a7c82;
            }
        }

        .rev-body {
            h3 {
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: -0.36px;
                color: #ffffff;
            }

            h4 {
                font-weight: normal;
                font-size: 14px;
                line-height: 135%;
                letter-spacing: -0.36px;
                color: #d7d7db;
            }
        }

        h5 {
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.36px;
            color: #ffffff;
        }
        transition: 0.3s all;
        &:hover {
            transform: translatey(-3px);
            background-color: #525367;
        }
    }
}

.reviews-slider {
    overflow: hidden;
    padding-top: 4px;
    .slick-slide {
        padding-right: 10px;
        padding-left: 10px;
    }

    img {
        pointer-events: none;
    }

    .img-cards {
        background: #363749;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        backdrop-filter: blur(30px);
        border-radius: 10px;
        padding: 25px;
        transition: 0.3s all;

        &:hover {
            background: #525367;
            transform: translateY(-5px);
        }
    }
}

.blog-slider-component {
    background: #28293a;

    .carousel-3d-slide {
        background: #363749;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        backdrop-filter: blur(30px);
        border-radius: 10px;
        background-image: url(/images/vector.svg);
        background-repeat: no-repeat;
        background-position-x: right;
        padding: 16px;

        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.36px;
            color: #ffffff;
        }

        p {
            margin-top: 12px;
            margin-bottom: 16px;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.36px;
            color: #d7d7db;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.36px;
            color: #ffffff;
            margin-left: 8px;
        }

        h5 {
            font-weight: normal;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.36px;
            color: #7a7c82;
            margin-left: 8px;
        }
        transition: 0.3s;
        &:hover {
            transform: translateX(-5px);
        }
    }
}

.prev-next-arrows {
    svg {
        cursor: pointer;
        path {
            transition: 0.3s all;
        }
        &:hover {
            path {
                fill-opacity: 1;
            }
        }
    }
}

.map {
    path {
        &:hover {
            transform: scale();
        }
    }
}

.about-us {
    .img {
        background-position: center;
        background-size: cover;
        height: 70vh;
    }

    .gradient {
        background: rgba(26, 27, 38, 0.8);
        height: 100%;
        .container {
            height: 100%;
            div {
                height: 100%;
            }
        }
    }

    p {
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.36px;
        color: #d7d7db;
        mix-blend-mode: normal;
    }

    .numbers {
        background: $secondBg;

        h6 {
            font-weight: bold;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            color: #ffffff;
        }

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            color: #e7e5ea;
        }
    }

    .vision-cards {
        .cards {
            background: #363749;
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-sizing: border-box;
            backdrop-filter: blur(30px);
            border-radius: 10px;
            min-height: 581px;
            transition: 0.3s all;

            .back {
                transition: 0.3s all;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
            }
            &:hover {
                transform: translateY(-4px);
                .back {
                    opacity: 1;
                }
            }
        }

        h6 {
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            text-align: center;
            letter-spacing: -1.6px;
            color: #ffffff;
        }

        p {
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            text-align: center;

            color: #ffffff;
        }

        ul {
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            text-align: center;

            color: #ffffff;
        }

        img {
            width: 244px;
        }
    }
}

.modal-lg {
    width: 31%;

    .card {
        background: #fef9ef;
        border-radius: 24px;
        color: #1a1b26;
        position: relative;
        .logo-rounded {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h5 {
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
        }

        h6 {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
        }

        .email {
            position: relative;
            svg {
                position: absolute;
                z-index: 1;
                top: 8px;
                left: 10px;
            }
            input {
                padding-left: 40px;
                background: rgba(255, 255, 255, 0.5);
                border: 1px solid #28293a;
                box-sizing: border-box;
                border-radius: 8px;
                color: #1a1b26;
                font-weight: 400;
                height: 44px;
            }
        }
        button {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #ffffff;
            padding-top: 12px;
            padding-bottom: 12px;
            transition: 0.3;
            &:hover {
                color: #1a1b26;
                border: 1px solid #1a1b26;
            }
        }

        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #878787;
            a {
                color: #28293a;
                transition: 0.3s all;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}


.our-team {
background: #28293A;

    h2 {
        font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height, or 133% */

letter-spacing: -1.6px;

color: #FFFFFF;
    }

    .team-cards {
        transition: 0.3s all;
        
        &:hover {
            transform: translatey(-4px);
            background: #525367;
border: 1px solid rgba(255, 255, 255, 0.6);

        .bg-effect {
            opacity: 1;
        }
        }

        background: #363749;
border: 1px solid rgba(255, 255, 255, 0.1);
box-sizing: border-box;
backdrop-filter: blur(30px);
border-radius: 10px;
padding: 24px 0;
        .ava {
            border-radius: 50%;
            border: 1px solid white;
            width: 124px;
            height: 124px;
        }

        .bg-effect {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
        }

        h6 {
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
            letter-spacing: -0.36px;
            color: #FFFFFF;
        }
        
        p {
            font-weight: normal;
font-size: 14px;
line-height: 130%;
text-align: center;
letter-spacing: -0.36px;
color: #7A7C82;
        }

        .socials {
            a, svg {
                width: 28px;
                height: 28px;
            }

            a {
                margin: 0 2px;
            }
        }
    }
}