header {
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: 0.5s all;
        .links {
            a {
            font-weight: bold;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.355556px;
            color: $W;
            transition: 0.3s all;
            border-bottom: 1px solid transparent;
            &:hover {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
                border-color: white;
            }
        }

        .nuxt-link-exact-active {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
            border-color: white;
        }
    }
    .socials {
        svg {
            margin-left: 6px;
            margin-right: 6px;
            rect {
                transition: 0.3s all;
            }

            path {
                transition: 0.3s all;
            }
            &:hover {
                rect {
                    fill-opacity: 1;
                }

                path {
                    fill: #28293a;
                }
            }
        }
    }
    
}

.header-changed {
    background: #28293A;
    border-bottom: 1px solid #E7E5EA;
}

footer {
    background-image: url(/images/navigate1.svg);
    background-repeat: no-repeat;
    background-position: 88%;
    background-size: contain;
    h5 {
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    ul li a {
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: -0.3px;
        color: #fff;
        margin-bottom: 16px;
        transition: 0.3s all;
        &:hover {
            color: #fff;
            opacity: 0.6;
        }
    }

    .form {
        .relative svg {
            top: 50px !important;
            left: 10px !important;
        }

        button {
           padding: 7px 28px;
        }

        input {
            width: 95%;
            height: 44px;
        }
    }

    .socials {
        svg {
            margin-right: 12px;
            rect {
                transition: 0.3s all;
            }

            path {
                transition: 0.3s all;
            }
            &:hover {
                rect {
                    fill-opacity: 1;
                }

                path {
                    fill: #28293a;
                }
            }
        }
    }

    .footer-bottom {

    p {
        font-weight: normal;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.3px;
color: #FFFFFF;
    }

    a {
        font-weight: normal;
font-size: 14px;
line-height: 130%;
letter-spacing: -0.3px;
color: #FFFFFF;
transition: 0.3s all;
&:hover {
    opacity: 0.6;
}
    }
}


}


.logo {
    transition: 0.3s all;

&:hover {
  opacity: 0.6;
}
}